body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1f2937;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-logo img {
    border-radius: 75%;
    height: 96px;
    width: auto;
}

/* .header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 12px;
}

.header-links {
    padding: 12px;
    justify-content: flex-end;
    color: white;
}



.logo {
    height: 96px;
    width: auto;
    justify-content: flex-start;
    border-radius: 75%;

} */