body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 400px;
    width: auto;
    border-radius: 75%;
}